<mat-toolbar class="header mat-elevation-z5">
  <a class="header-title-nav" (click)="goToHome()">DevBook Store | </a>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Categorias</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item *ngFor="let category of getCategories()">
      {{ category }}
    </button>
  </mat-menu>
  <span class="spacer"></span>

  <button mat-button (click)="goToLogin()">
    <mat-icon class="icon-user" aria-label="Icon user">account_circle</mat-icon>
  </button>
  <button mat-button (click)="goToCartPage()">
    <mat-icon class="icon-shopping-cart" aria-label="Icon cart" matBadgeSize="small" [matBadge]="getTotalItemCart()" 
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>

<div class="img-background"></div>
