<!-- <div class="login-page">
  <div class="form">
    <form [formGroup]="form" class="login-form" action="submit" (ngSubmit)="login()">
      <input type="text" placeholder="nome" required  formControlName="userName" #userName/>
      <input type="text" placeholder="email" required formControlName="email" #email/>
      <input type="password" placeholder="senha" required formControlName="password" #password />
      <button mat-fab extended color="primary" type="submit">Login</button>
      <p class="message">
        Não é cadastrado? <a routerLink="/login">Crie uma conta</a>
      </p>
    </form>
  </div>
</div> -->
