.container {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  background-color: white;
}

.img-prod {
  max-width: 150px;
  margin: 10px;
}

.section-header {
  justify-self: center;
  margin: 5px;
}

.section-item-product {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  gap: 30px;
}
.controls-quantity {
    text-align: center;
}
.input-quantity {
    transition: all 0.4s ease-in-out;
    margin: 0 5px;
    text-align: center;
    width: 25px;
}

.remove-btn {
  align-self: end;
}

.price {
  font-size: 25px;
  font-weight: 500;
  align-self: flex-end;
}
