<div class="mat-elevation-z1 container">
    <div class="img-card">
        <img class="img-prod" [src]="item.img" alt="">
    </div>

    <div class="section-item-product">

        <div class="section-header">
            <p class="title" max> {{ item.name }} </p>
            <p class="price"> {{ item.price | currency: "BRL" }} </p>
        </div>

        <div class="">
            
           <div class="controls-quantity">
            <button  mat-icon-button  (click)="subQuantity()"  > 
                <mat-icon> remove </mat-icon>
            </button>
            <input class="input-quantity" type="text" inputmode="numeric" value={{item.quantity}} >
            <button  mat-icon-button (click)="addQuantity()" > 
                <mat-icon> add </mat-icon>
            </button>
            
            <button mat-icon-button class="remove-btn"  (click)="removeCart()" >
                <mat-icon> delete </mat-icon>
            </button>
           </div>
        </div>
    </div>

</div>